.selected-post-container {
  padding: 20px;
}

.selected-post-heading {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

.selected-post-comment-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
